@model FealtedByEsra.PL.Models.User.SignInUserViewModel

@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                <span class="login100-form-title p-b-26">
                    Hoş Geldin
                </span>

                <div class="wrap-input100 validate-input" data-validate="İsim ve Soy İsminiz">
                    <input class="input100" type="text" asp-for="NameSurname" placeholder="İsiminiz ve Soy İsminiz">
                    <span class="focus-input100" asp-validation-for="NameSurname"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Kullanıcı Adı Giriniz">
                    <input class="input100" type="text" asp-for="UserName" placeholder="Kullanıcı Adı Giriniz">
                    <span class="focus-input100" asp-validation-for="UserName"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Email Adresinizi Giriniz">
                    <input class="input100" type="email" asp-for="Email" placeholder="İemail">
                    <span class="focus-input100" asp-validation-for="Email"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Telefon Numarınızı giriniz">
                    <input class="input100" type="number" asp-for="PhoneNumber" placeholder="0555555555">
                    <span class="focus-input100" asp-validation-for="PhoneNumber"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Şifre Giriniz">
                    <span class="btn-show-pass">
                        <i class="zmdi zmdi-eye"></i>
                    </span>
                    <input class="input100" type="password" asp-for="Password" placeholder="Şifre Giriniz">
                    <span class="focus-input100" asp-validation-for="Password"></span>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            Üye Ol
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>