@{
    ViewData["Title"] = "Abonelik İptal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h3 class="pt-5 texts">Abonelik iptal edildi.</h3>
    <p class="texts">Mail aboneliğin başarıyıla iptal edildi. Gösterdiğin ilgi için teşekkürler. Tekrar görüşmek üzere!</p>
    <a asp-action="Index" asp-controller="Home" class="reply_btn">Ana Sayfaya Dön</a>
</div>

