@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options
@inject IOptions<FealtedByEsra.BAL.Helpers.GoogleHelpers.GoogleHelper> GoogleCapchaConfig
<form method="post" class="pt-3" id="footerNewsletter">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input name="Token" type="hidden" id="tokenFooter" />
    <input type="email" class="pb-1" placeholder="E-mail adresinizi giriniz.." id="emailFooterInput" name="Email" required />
    <button type="submit">Abone Ol</button>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=@GoogleCapchaConfig.Value.SiteKey"></script>
<partial name="_ValidationScriptsPartial" />

<script type="text/javascript">
    $(function () {
        grecaptcha.ready(function () {
            grecaptcha.execute('@GoogleCapchaConfig.Value.SiteKey', { action: 'subscribemailfooter' }).then(function (token) {
                $("#tokenFooter").val(token);
            });
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#footerNewsletter').submit(function (e) {
            e.preventDefault();
            let datas = { email: $('#emailFooterInput').val(), token: $('#tokenSide').val() }
            $.ajax({
                url: '@Url.Action("SubscribeMailFooter", "Newsletter")',
                type: 'POST',
                data: datas,
                success: function () {
                    $.notify("Abone olundu!", "success");
                },
                error: function () {
                    $.notify("Hata!", "error");
                }
            });
        });
    });

        //function SubscribeFooter() {
        //    let datas = { email: $('#emailFooterInput').val(), token: $('#tokenFooter').val() }

        //    $.ajax({
        //        url: '@Url.Action("SubscribeMailFooter","Newsletter")',
        //        type: 'POST',
        //        data: datas
        //    });
        //}
</script>