@model PasswordChangeAdminViewModel
@{
    ViewData["Title"] = "Şifre Değiştirme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main_section mt-5 pt-3">
    <h1 class="texts">Şifre Değiştirme</h1>
    <form method="post" asp-action="ChangePassword" asp-controller="AdminOption" class="form-group">
        <label class="texts">Eski Şifre</label>
        <input type="password" asp-for="OldPassword" class="form-control" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
        <br />
        <label class="texts">Yeni Şifre</label>
        <input type="password" asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
        <br />
        <label class="texts">Şifre Doğrulama</label>
        <input type="password" asp-for="PasswordConfirm" class="form-control">
        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        <br />
        <button class="read_more_btn">Güncelle</button>
    </form>
</div>

